p{
	color: white;
	font-size:1rem;
	font-weight: 700;
	margin-left: 30px;
}

#itemname{
	margin-top: 1rem;
}

.innercard{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
}

.wholecard{
	display:flex;
	flex-direction: row;
	align-items: center;
}